@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --accent-color: #053634;
    --secondary-color: #ebB017;
    --dark-color: #053634;
    --body-text-color: #053634;
    --background-color: #f0f1EA;
    --light-accent-color: #84b8a7;
    --light-background-color: #f8f6f1;
}

body{
    background-color: var(--light-background-color);
    font-size: 18px;
    line-height: 140%;
    color: var(--body-text-color);
    overflow-x: hidden;
}

h1{
    font-size: 56px;
    line-height: 140%;
}

h2{
    font-size: 24px;
    font-weight: 500;
}

h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--body-text-color);
}

p{
    color: var(--body-text-color);
    font-weight: 200;
    line-height: 160%;
}

.btn-outline{
    border: var(--light-accent-color) 1px solid;
    padding: 16px 40px;
    width: fit-content;
    background: transparent;
    color: var(--body-text-color);
}

.btn-outline:hover{
    border: var(--accent-color) 1px solid;
    transition: ease-in 0.3s;
    background-color: var(--light-background-color);
}

.padding{
    padding: 0px 200px;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

nav a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: var(--body-text-color);
}

nav .logo{
    height: 48px;
}

.right-navbar{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.right-navbar a{
    padding: 40px 20px;

}

.right-navbar #active-nav{
    border-bottom: var(--secondary-color) 2px solid;
    font-weight: 600;
}

/* Hero Section */

header{
    margin-bottom: 120px;
}

.hero{
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 40px; */
}

.hero-content{
    padding-left: 200px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
}

.hero-img img{
    width: 100%;  
    height: 90vh;
    object-fit: cover;
}

.brands{
    padding: 80px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: var(--light-accent-color) 1px solid;
}

.brands img{
    height: fit-content;
}

/* About Us Section */

.aboutus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.aboutus-content{
    width: 40%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aboutus-img-container{
    width: 60%;
}

.aboutus-img-container img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* Services */

.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.service-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 80px;
}

.service-img-container{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.service-img-container img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.service-items{
    display: flex;
    flex-direction: row;
}

.service-item-col{
    padding: 40px 20px;
    cursor: pointer;
}

.service-item-col h3{
    color: var(--light-accent-color);
}

.service-item-col h3.active{
    color: var(--body-text-color);
}